# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json
/build-webpack/node_modules
/build-webpack/package-lock.json
/build

# production
/dist

# misc
.DS_Store

# umi
.umi
.umi-production

src/**/*.less.d.ts
src/**/*.css.d.ts

#idea
/.idea

# 构建信息
stats.json


.vscode/
.sra
